nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	width: 100%;
	transition: all ease 0.5s;

	&.squeezed {
		width: 75%;
		margin-left: 25%;
	}
	@media screen and (max-width: 768px) {
		padding: 0px 15px;
	}

	.logo {
		padding-left: 5px;
		color: black;
		font-size: 1.8rem;
		text-decoration: none;
		font-family: "Lato", sans-serif;
		font-weight: bolder;

		span {
			color: #1b7ed4;
		}

		@media screen and (max-width: 768px) {
			padding-left: 0px;
		}
	}

	button {
		background: transparent;
		border: none;
		cursor: pointer;
		border: 2px solid #1b7ed4;
		padding: 0.5rem;
		transition: all 0.3s ease;
		border-radius: 5px;
		outline: none;
		font-size: 1rem;
		font-weight: bold;

		&:hover {
			background: #1b7ed4;
			color: white;
		}
	}
	button.active {
		background: #1b7ed4;
		border: 2px solid black;
		color: white;
		transition: all 0.3s ease;
	}
	button.active:hover {
		opacity: 0.9;
	}
}

@media screen and (max-width: 768px) {
	nav {
		button {
			z-index: 10;
		}
	}
}
