.song-container {
	min-height: 60vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-family: "Ubuntu", sans-serif;
	max-width: 1400px;
	width: 80%;
	margin: 0 auto;
	img {
		width: 35%;
		position: relative;
		border-radius: 50%;
	}

	.songInfo {
		display: flex;
		width: 50%;
		flex-direction: column;
		align-items: flex-start;
		h2 {
			margin-bottom: 1rem;
			font-size: 3rem;
			font-weight: 700;
		}
		h3 {
			font-size: 2.2rem;
			font-weight: 500;
		}
		canvas {
			margin-top: 2rem;
			width: 100%;
			height: auto;
		}
	}
}

@media screen and (max-width: 768px) {
	.song-container {
		flex-direction: column;
		.songInfo {
			order: 2;
			align-items: center;
			margin-top: 2rem;
			h2 {
				margin-bottom: 1rem;
				font-size: 2rem;
			}
			h3 {
				font-size: 1.2rem;
			}
		}
		img {
			width: 60%;
			order: 1;
		}
	}
}
