@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3 {
	color: rgb(53, 53, 53);
}
body {
	font-family: "Lato", sans-serif;
}
h3,
h4 {
	font-weight: 400;
	color: rgb(100, 100, 100);
}
.App {
	padding: 30px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: linear-gradient(to right, #e2e2e24d, #be8bce5e, #1b7ed45e);

	@media screen and (max-width: 768px) {
		padding: 15px;
	}
	transition: all 0.5s ease;
}

main {
	width: 100%;
	transition: all ease 0.5s;

	&.squeezed {
		width: 75%;
		margin-left: 25%;
	}
}

@import "./song.scss";
@import "./player.scss";
@import "./library.scss";
@import "./nav.scss";
